#contact{
    background-color: #222;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h4 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: justify;
}

.my-details-info-container {
    margin-bottom: 1em;
    padding-bottom: auto;
    margin-left: 0.5em;
    color: white;
    font-size: 1rem;
    
}

.my-details-info-container span {
    margin-left: 0rem;
    font-weight: bold;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input
 {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid white;
    border-bottom: 2px solid white;
    color: black;
    background: whitesmoke;
    width: 90%;
    line-height: 1;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    color: white;
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid white;
    border-bottom: 2px solid white;
    color: black;
    background: whitesmoke;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#contact-form button[type="submit"] {
    background: black;
    font-size: 0.95rem;
    border: 2px solid black;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: black;
}

.my-details-info-container a:link{
    color: white;
    text-decoration: none;
}
.my-details-info-container a:visited{
    color: white;

}

.my-details-info-container a:hover{
    color: black;
}

#end{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
   
}
#end div{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    width: auto;
}
#end div button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    background-color: black;
    color: white;
    border: none;
    height: auto;
    width: auto;
    border: solid 1px  wheat ;
}
#end div button:hover{
    
    background-color: white;
    color: black;
  
    border: solid 1px black;
}
#end div h3{
    font-family: Arial, Helvetica, sans-serif;    
}
#end div h3:hover{
   color:  black;
}
#end div button h3:hover{
    color: white;
 }
#end a:link{
    color: white;
    text-decoration: none;
}
#end a:visited{
    color: white;

}

#end a:hover{
    color: white    ;
}
